html { 
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), 
  url(../img/packers.jpg) no-repeat center center fixed; 
 background-size: 100% auto; 
 background-repeat: repeat; 
} 

body {
  font-family: Helvetica, serif;
  font-family:'Oswald', sans-serif;
  background: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
}

.navbar-inverse {
  background-color: #0D2B21;
}

.body-container {
  margin-top: 5% !important;
}

#form-main {
  margin-bottom: 10%;
}

.btn {
  margin-top: 5%;
}

.toggle_demo {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  height: 300px;
  width: auto;
  background-color: #fff;
  clear: both;
}

.demo {
  background-color: #0D2B21;
  width: 200px;
  height: 100px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
{
  h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 5%;
    color: #FFF;
  }

  img {
    display: block;
    margin: 0 auto;
    margin-top: 7%;
    width: 75px;
    height: auto;
  }

  .top-p {
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: .75em;
    line-height: 1em;
    color: #FFF;
  }

  .bot-p {
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: .75em;
    line-height: 1em;
    color: #FFF;
  }

  .skills-list {
  color: #FFF;
  list-style: none;
  text-align: center;
  font-size: 0.25em;
  margin-top: 7%;
  }

  .skills-list li {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    font-size: .25em;
  }

  .map {
    display: none;
  }

  #form-main{
    width:100%;
    padding-top:0px;
  }

  #form-div {
    background-color:rgba(72,72,72,0.4);
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:50px;
    width:250px;
    float: left;
    left: 50%;
    position: relative;
    margin-top:20px;
    margin-left: -175px;
  }

  .contact-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }

  .contact-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 13px;
  }

  .focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
  }

  textarea {
      width: 100%;
      height: 150px;
      line-height: 150%;
      resize:vertical;
  }

  input:hover, textarea:hover,
  input:focus, textarea:focus {
    background-color:white;
  }

  #button-blue{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #0D2B21;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }

  #button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: #0493bd;
  }

  .submit:hover {
    color: #3498db;
  }

  .ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
  }

  .submit:hover .ease{
    width:100%;
    background-color:white;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
{
  h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 5%;
    color: #FFF;
  }

  img {
    display: block;
    margin: 0 auto;
    margin-top: 7%;
    width: 100px;
    height: auto;
  }

  .top-p {
    text-align: center;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
    line-height: 1.5em;
    color: #FFF;
  }

  .bot-p {
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
    line-height: 1.5em;
    color: #FFF;
  }

  .skills-list {
    color: #FFF;
    list-style: none;
    text-align: center;
    margin-top: 7%;
  }

  .skills-list li {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 3em;
  }

  .map {
    display: none;
  }

  #form-main{
    width:100%;
    float:left;
    padding-top:0px;
  }

  #form-div {
    background-color:rgba(72,72,72,0.4);
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:50px;
    width:250px;
    float: left;
    left: 50%;
    position: relative;
    margin-top:20px;
    margin-left: -175px;
  }

  .contact-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }

  .contact-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 13px;
  }

  .focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
  }

  textarea {
      width: 100%;
      height: 150px;
      line-height: 150%;
      resize:vertical;
  }

  input:hover, textarea:hover,
  input:focus, textarea:focus {
    background-color:white;
  }

  #button-blue{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #0D2B21;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }

  #button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: #0493bd;
  }

  .submit:hover {
    color: #3498db;
  }

  .ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
  }

  .submit:hover .ease{
    width:100%;
    background-color:white;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
{
  h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 5%;
    color: #FFF;
  }

  img {
    display: block;
    margin: 0 auto;
    margin-top: 7%;
    width: 150px;
    height: auto;
  }

  .top-p {
    text-align: center;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
    line-height: 1.5em;
    color: #FFF;
  }

  .bot-p {
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
    line-height: 1.5em;
    color: #FFF;
  }

  .skills-list {
    color: #FFF;
    list-style: none;
    text-align: center;
    margin-top: 7%;
  }

  .skills-list li {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 4em;
  }

  .map {
    width: 400px;
    height: 430px;
    margin: 0 auto;
    text-align: center;
    display: block;
    position: relative;
    margin-top: 5%;
  }

  #form-main{
    width:100%;
    float:left;
    padding-top:0px;
  }

  #form-div {
    background-color:rgba(72,72,72,0.4);
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:50px;
    width:250px;
    float: left;
    left: 50%;
    position: relative;
    margin-top:20px;
    margin-left: -175px;
  }

  .contact-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }

  .contact-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 13px;
  }

  .focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
  }

  textarea {
      width: 100%;
      height: 150px;
      line-height: 150%;
      resize:vertical;
  }

  input:hover, textarea:hover,
  input:focus, textarea:focus {
    background-color:white;
  }

  #button-blue{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #0D2B21;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }

  #button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: #0493bd;
  }

  .submit:hover {
    color: #3498db;
  }

  .ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
  }

  .submit:hover .ease{
    width:100%;
    background-color:white;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
{
  img {
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    width: 200px;
    height: 200px;
  }

  .top-p {
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #FFF;
  }

  .bot-p {
    text-align: center;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #FFF;
  }

  .skills-list {
    color: #FFF;
    list-style: none;
    text-align: center;
    margin-top: 3%;
  }

  .skills-list li {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-weight: bold;
  }

  .map {
    width: 400px;
    height: 430px;
    margin: 0 auto;
    text-align: center;
    display: block;
    position: relative;
    margin-top: 5%;
  }

  #form-main{
    width:100%;
    float:left;
    padding-top:0px;
  }

  #form-div {
    background-color:rgba(72,72,72,0.4);
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:50px;
    width:250px;
    float: left;
    left: 50%;
    position: relative;
    margin-top:20px;
    margin-left: -175px;
  }

  .contact-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }

  .contact-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 13px;
  }

  .focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
  }

  textarea {
      width: 100%;
      height: 150px;
      line-height: 150%;
      resize:vertical;
  }

  input:hover, textarea:hover,
  input:focus, textarea:focus {
    background-color:white;
  }

  #button-blue{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #0D2B21;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }

  #button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: #0493bd;
  }

  .submit:hover {
    color: #3498db;
  }

  .ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
  }

  .submit:hover .ease{
    width:100%;
    background-color:white;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
{
  img {
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    width: 200px;
    height: 200px;
  }

  .top-p {
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #FFF;
  }

  .bot-p {
    text-align: center;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #FFF;
  }

  .skills-list {
    color: #FFF;
    list-style: none;
    text-align: center;
    margin-top: 3%;
  }

  .skills-list li {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-weight: bold;
  }

  .map {
    width: 600px;
    height: 515px;
    margin: 0 auto;
    text-align: center;
    display: block;
    position: relative;
    margin-top: 5%;
  }

  #form-main{
    width:100%;
    float:left;
    padding-top:0px;
  }

  #form-div {
    background-color:rgba(72,72,72,0.4);
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:50px;
    width: 450px;
    float: left;
    left: 50%;
    position: relative;
    margin-top:30px;
    margin-left: -230px;
  }

  .contact-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }

  .contact-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 13px;
  }

  .focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
  }

  textarea {
      width: 100%;
      height: 150px;
      line-height: 150%;
      resize:vertical;
  }

  input:hover, textarea:hover,
  input:focus, textarea:focus {
    background-color:white;
  }

  #button-blue{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #0D2B21;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }

  #button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: #0493bd;
  }

  .submit:hover {
    color: #3498db;
  }

  .ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
  }

  .submit:hover .ease{
    width:100%;
    background-color:white;
  }
}
