html { 
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), 
  url(../img/packers.jpg) no-repeat center center fixed; 
 background-size: 100% auto; 
 background-repeat: repeat; 
} 
 
body { 
  font-family: Helvetica, serif; 
 width: 100%;
  height: 100%;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
{
  h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 5%;
    color: #000;
  }

  img {
    display: block;
    margin: 0 auto;
    margin-top: 7%;
    width: 75px;
    height: auto;
  }

  .top-p {
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: .75em;
    line-height: 1em;
    color: #000;
  }

  .bot-p {
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: .75em;
    line-height: 1em;
    color: #000;
  }

  .skills-list {
  color: #FFF;
  list-style: none;
  text-align: center;
  font-size: 0.25em;
  margin-top: 7%;
  }

  .skills-list li {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    font-size: .25em;
  }
}

/* Extra Small Devices like a Cellular Phones */
@media only screen and (min-width : 480px)
{
  h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 5%;
    color: #000;
  }

  img {
    display: block;
    margin: 0 auto;
    margin-top: 7%;
    width: 100px;
    height: auto;
  }

  .top-p {
    text-align: center;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
    line-height: 1.5em;
    color: #000;
  }

  .bot-p {
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
    line-height: 1.5em;
    color: #000;
  }

  .skills-list {
    color: #000;
    list-style: none;
    text-align: center;
    margin-top: 7%;
  }

  .skills-list li {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 3em;
  }
}

/* Small Devices such as an Android Tablets */
@media only screen and (min-width : 768px)
{

  h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 5%;
    color: #000;
  }

  img {
    display: block;
    margin: 0 auto;
    margin-top: 7%;
    width: 200px;
    height: auto;
  }

  .top-p {
    text-align: center;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
    line-height: 1.5em;
    color: #000;
  }

  .bot-p {
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
    line-height: 1.5em;
    color: #000;
  }

  .skills-list {
    color: #000;
    list-style: none;
    text-align: center;
    margin-top: 7%;
  }

  .skills-list li {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
  }
}

/* Medium Devices like Standard Desktops */
@media only screen and (min-width : 992px)
{
  img {
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    width: 200px;
    height: 200px;
  }

  .top-p {
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #000;
  }

  .bot-p {
    text-align: center;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #000;
  }

  .skills-list {
    color: #000;
    list-style: none;
    text-align: center;
    margin-top: 3%;
  }

  .skills-list li {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-weight: bold;
  }
}

/* Large Devices like Wide Screen Desktops or TVs */
@media only screen and (min-width : 1200px)
{
  img {
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    width: 200px;
    height: 200px;
  }

  .top-p {
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #000;
  }

  .bot-p {
    text-align: center;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #000;
  }

  .skills-list {
    color: #000;
    list-style: none;
    text-align: center;
    margin-top: 3%;
  }

  .skills-list li {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-weight: bold;
  }
}